<!-- le wagon nav bar
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Messages", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
-->
<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between fixed-top mb-5">
  <div style="margin-left: 20px; margin-top: 5px; margin-bottom: 5px; margin-right: 20px">
    <span></span>

    <div style="margin-right: 15px; margin-top: 5px; margin-bottom: 5px;">
        <a class="navbar-profile-icon"></a>
          <%= link_to :back do %>
        <span class="user-icon brand-text">
          <i class="fa-solid fa-arrow-left"></i>
        </span>
        <% end %>
      </div>
      <%# <button class="navbar-toggler px-0" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" > %>
      <%# <span class="navbar-toggler-icon"></span> %>
    </button>
  </div>
  <%= image_tag("logo-color.png", alt: "Spark-logo", style: "width:25%;") %>

  <div style="margin-right: 20px; margin-top: 5px; margin-bottom: 5px;">
    <a class="navbar-profile-icon"></a>
      <%= link_to profile_path do %>
    <span class="user-icon brand-text">
      <i class="fa-solid fa-user fa-lg"></i>
    </span>
    <% end %>
  </div>
</nav>

<footer class="footer">
  <nav class="navbar navbar-expand-lg fixed-bottom navbar-light bg-light d-flex justify-content-between p-4">
    <div style="margin-left: 10px;">
      <%= link_to suggestions_path do %>
        <span class="user-icon brand-text">
          <i class="fa-solid fa-house fa-lg"></i>
        </span>
      <% end %>
    </div>
    <div>

      <span class="user-icon brand-text">
        <%= link_to favorites_path, class: "brand-text" do %>
          <i class="fa-solid fa-heart fa-lg"></i>
        <% end %>
      </span>
    </div>

    <div>
      <%= link_to categories_path do %>
        <span class="user-icon" style="color: #992944; margin-right: 10px;">
          <i class="fa-solid fa-magnifying-glass fa-lg"></i>
        </span>
      <% end %>
    </div>
  </nav>

</footer>
