<div id="category-show-page-banner"class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  <%= @category.title %>
</div>

<div id="category-page-main">
  <div class="container" style="margin-top: 20px">

    <%= @suggestions.each do |suggestion| %>
      <%= link_to suggestion_path(suggestion), class: 'text-decoration-none text-dark' do %>
        <div class="card mb-3 suggestion-cards" style='overflow: hidden'>

          <% if suggestion.images.present? %>
            <%= image_tag(suggestion.images[0], class: "card-img-top") %>
            <%# <i class="fa-solid fa-heart love fa-2xl" style="color: #db3333;"></i> %>
          <% else %>
            <%= image_tag("food-01.jpg", class: "card-img-top") %>
          <% end %>

          <div class="suggestion-cards-info">
            <h5
                class="card-title"
                style="padding-top: 15px; font-weight: 700; letter-spacing: 1px; padding-bottom: -1px; "
              ><%= suggestion.title %></h5>
            <% cities = %w[Amsterdam Rotterdam Alkmaar Utrecht] %>
            <% rating = suggestion.rating %>
            <% type = suggestion.sub_category %>
            <div>
              <p class="card-text b-5"><i class="fa-solid fa-location-dot"></i>
                <%= cities.sample %>
                &nbsp;
                <%= type %>
                <i class="fa-solid fa-star" style="color: #992944; font-size: 14px">
                  <%= rating %></i>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>
</div>
