<div class="card bg-dark text-white" style="height: 150px;">
  <img class="card-img" src="assets/dashboard.jpeg" alt="Card image">
  <div class="card-img-overlay"></div>
</div>
<div class="container" onclick="show(${id})" style="margin-top: 70px">
  <% @suggestions.each_slice(3) do |suggestion_row| %>
    <% suggestion_row.each do |suggestion| %>
      <div class="card mb-3 suggestion-cards" style='overflow: hidden'>
        <% if suggestion.image_url.present? %>
          <%= image_tag(suggestion.image_url, class: "card-img-top") %>
        <% else %>
          <%= image_tag("food-01.jpg", class: "card-img-top") %>
        <% end %>
        <div class="suggestion-cards-info">
          <h5
            class="card-title"
            style="padding-top: 15px; font-weight: 700; letter-spacing: 1px; padding-bottom: -1px; "
          ><%= suggestion.title %></h5>
          <% cities = %w[Amsterdam Rotterdam Alkmaar Utrecht] %>
          <% rating = [4.5, 5, 2.3, 3.1, 4.2, 5.0].sample %>
          <div>
            <p class="card-text"><i class="fa-solid fa-location-dot"></i>
              <%= cities.sample %>
              &nbsp;
              <i class="fa-solid fa-star" style="color: #992944; font-size: 14px">
                <%= rating %></i>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
