<div class="card bg-dark text-white" style="height: 150px;">
  <%= image_tag("dashboard.jpeg", class: "card-img", alt: "Card image") %>
  <div class="card-img-overlay"></div>
</div>
<div class="container" style="margin-top: 20px">
  <div class="card mb-3 suggestion-cards" style='overflow: hidden'>
    <div>
      <% if @suggestion.images.present? %>
        <%= image_tag(@suggestion.images[0], class: "card-img-top", id: "img-fav") %>
      <% else %>
        <%= image_tag("food-01.jpg", class: "card-img-top") %>
      <% end %>

      <div>
        <% if current_user %>
          <% if current_user.favorites.where(suggestion: @suggestion).empty? %>
            <%= simple_form_for [@suggestion, @favorite] do |f| %>
              <%= f.button :button do %>
                <i id="heart" class="fa-regular fa-heart fa-xl"></i>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to favorite_path(current_user.favorites.where(suggestion: @suggestion).first), data: {turbo_method: :delete} do %>
              <i id="heart" class="fa-solid fa-heart love fa-2xl" style="color: #db3333;"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>


    <div class="suggestion-cards-info">
      <h5
            class="card-title"
            style="padding-top: 15px; font-weight: 700; letter-spacing: 1px; padding-bottom: -1px; "
          ><%= @suggestion.title %></h5>
      <div>
        <p class="card-text b-5"><i class="fa-solid fa-location-dot"></i>
          <%= @suggestion.city %>
          &nbsp;
          <%= @suggestion.sub_category %>
          &nbsp;
          <i class="fa-solid fa-star" style="color: #992944; font-size: 14px">
            <%= @suggestion.rating %></i>
          <p>Description:</p>
          <p> <%= @suggestion.overview %> </p>
        </p>
      </div>
    </div>
  </div>
</div>
